 #root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
} 



.App {
  width: 100%;
  max-width: 480;
  height: 88vh;
  margin: 0 auto;
  background-color: rgb(189, 173, 139);
  position: relative;
}


.backgroundwaves {
  background-image: url('./assets/beach-4161593_1280.jpg');
  background-size: cover;
  background-position: center;
  min-height: 100vh;
  background-repeat: no-repeat;

}


.container-front {


}

.container-bar {


}

.contact-container {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.form-container {
  width: 40vw;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;

}




